---
import CareerCard from './career-card.astro'
import data from '../data/career.json'

import type { Career } from '../types'

let careers: Career[]
careers = data.careers as Career[]

const dotClasses = (index: number) => [
  "size-4 rounded-full border-4 border-[#0a0a0a]",
  { "bg-accent shadow-[0_0_15px_var(--color-accent)] animate-pulse": index === 0 },
  { "bg-accent/50": index !== 0 }
]
---

<section id="career" class="slideGroup section-container max-w-6xl mx-auto overflow-hidden">
  <div class="container mx-auto">
    <div class="slideUp">
      <h2 class="text-3xl md:text-4xl font-heading font-bold text-maintext mb-2 flex items-center gap-4">
        <span class="text-accent">/</span> Career
      </h2>

      <p class="text-subtext font-body text-sm max-w-md pb-8">
        A brief overview of my career
      </p>
    </div>

    <div class="relative">
      <!-- Vertical line in the center for desktop, left for mobile -->
      <div class="absolute left-2 md:left-1/2 md:-translate-x-1/2 top-5 bottom-0 w-0.5 bg-linear-to-b from-accent via-white/10 via-90% to-transparent" />

      {/* Mobile View */}
      <div class="md:hidden space-y-8">
        {careers.map((career, index) => (
          <div class="slideUp relative pl-6">
            {/* Dot for mobile view*/}
            <div class="absolute left-0 top-1 z-10">
              <div class:list={dotClasses(index)} />
            </div>

            <CareerCard career={career} variant="mobile" />
          </div>
        ))}
      </div>

      <!-- Desktop View -->
      <div class="hidden md:block space-y-4">
        {careers.map((career, index) => (
          <div class="slideUp relative grid grid-cols-2">
            {/* Center Dot */}
            <div class="absolute left-1/2 -translate-x-1/2 top-1 z-10">
              <div class:list={dotClasses(index)} />
            </div>

            {/* Left Side (even items) */}
            <div class="md:px-6 md:py-0">
              {
                index % 2 === 0
                  ? <CareerCard career={career} variant="desktop-left" />
                  : <div class="h-full pointer-events-none" />
              }
            </div>

            {/* Right Side (odd items) */}
            <div class="md:px-6 md:py-0">
              {
                index % 2 !== 0
                  ? <CareerCard career={career} variant="desktop-right" />
                  : <div class="h-full pointer-events-none" />
              }
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
